.nav{
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav-logo{
    width: 50%;
}
.nav-links{
    display: flex;
    justify-content: center;
    
    width: 50%;
}
.nav-links ul{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.nav-links ul li{
    list-style: none;
    cursor: pointer;
    color: #000;
    font-weight: 500;
}
.nav-links ul button{
    background-color: #F8CBA6;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 36px;
    font-weight: 600;
    width: 130px;
    font-size: 14px;
}
